In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [17]:
engine = create_engine('postgresql://kaitlynzeichick:localhost@localhost:5432/waterpumps')

In [18]:
# Pick csv file that will become a table in the postgres database. Pre-processed data
waterpumps = pd.read_csv('./pre_processed_train.csv')

In [19]:
# I'm choosing to name this table "water_pumps"
waterpumps.to_sql('water_pumps', engine, index=False)

In [99]:
# Pick csv file that will become a table in the postgres database. 
# Pre-processed data without get dummy encoding.
waterpumps_cat = pd.read_csv('./for_sql_and_tableau.csv')

In [101]:
# I'm choosing to name this table "water_pumps_cat"
waterpumps_cat.to_sql('waterpumps_cat', engine, index=False)

In [138]:
# Get a sense of if the target is balanced.
# 1 = non-functional
# 0 = functional
query = """
SELECT status_group, COUNT(*)
FROM waterpumps_cat
GROUP BY status_group;
"""

df = pd.read_sql(query, engine)

df.head()

   status_group  count
0             0  21874
1             1  18001

The target variable is roughly balanced.

In [95]:
# Find out if "average" is a good way to cut population in half, to later
# ascertain if there are more faulty water pumps in locations with 
# above average or below average populations.
query = """
SELECT
CASE 
    WHEN population > (SELECT AVG(population) FROM water_pumps) THEN '1' 
    ELSE '0' 
    END AS population_numerical,
COUNT(population) AS sum_population
FROM water_pumps
GROUP BY
CASE WHEN population > (SELECT AVG(population) FROM water_pumps) THEN '1' ELSE '0' END;
"""

df = pd.read_sql(query, engine)

df.head()

  population_numerical  sum_population
0                    0           28727
1                    1           11148

Average is not a good way to cut population in half for further analysis. There are significantly more rows with below average population than above.

In [94]:
# Find out if there are outliers in population.
query = """
SELECT population
FROM water_pumps
ORDER BY population DESC;
"""

df = pd.read_sql(query, engine)

df.head(15)

    population
0        30500
1        15300
2        10000
3         9865
4         9000
5         8848
6         8500
7         8000
8         8000
9         8000
10        7530
11        7500
12        7000
13        7000
14        6922

Above 10,000 people in the general vicinity of a water pump seems unrealistic. The rows with more than this will be removed.

In [133]:
# Find out what type of waterpoint type high populations tend to use.
query = """
SELECT COUNT(population), waterpoint_type_group
FROM waterpumps_cat
GROUP BY waterpoint_type_group
HAVING COUNT(population) > 5000
;
"""

df = pd.read_sql(query, engine)

df.head()

   count waterpoint_type_group
0  11100             hand pump
1  24422    communal standpipe

In [131]:
# Find out what type of waterpoint type low populations tend to use.
query = """
SELECT COUNT(population), waterpoint_type_group
FROM waterpumps_cat
GROUP BY waterpoint_type_group
HAVING COUNT(population) < 5000
;
"""

df = pd.read_sql(query, engine)

df.head()

   count waterpoint_type_group
0      5                   dam
1    555       improved spring
2     68         cattle trough
3   3725                 other

It looks like the waterpoint type is strongly influenced by the size of the population nearby. High populations tend to use handpumps and communal standpipes, while smaller populations tend to use improved springs, cattle troughs, dams, or other waterpoint types.

In [136]:
# Find the average number of non-functional pumps by year, 
# excluding unknown years.

query = """
SELECT construction_year, AVG(status_group)
FROM waterpumps_cat
WHERE NOT construction_year='Unknown'
GROUP BY construction_year
ORDER BY construction_year
;
"""

df = pd.read_sql(query, engine)

df.head()

  construction_year       avg
0             1960s  0.644315
1             1970s  0.663625
2             1980s  0.578201
3             2000s  0.338817
4             2010s  0.275583

It looks like the average number of non-functional water pumps decreases by the year they were constructed.